$primary-color: rgb(248, 161, 0);
$primary-color-hover: white;
$color-a: black;
$color-bbb: rgb(180, 236, 240);
$color-ccc: rgb(197, 111, 111);
$color-ddd: rgb(248, 191, 86);
$color-a-lot-of: rgb(28, 120, 196);
$back: red;